* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: bisque;
    margin: 0;
    padding: 0;    
}

h1, #filtros {
    text-align: center;
}

#filtro-raza {
    padding: 8px 16px;
    margin: auto;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.imagen-imagenEl {
    width: 450px;
    margin: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
}

.imagen-imagenEl img {
    width: 100%;
    overflow: hidden;
}

#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pagination {
    margin: 20px 0;
    text-align: center;
}

#pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#pagination button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .imagen-imagenEl {
        width: 80%;
    }
}